<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>125634621812-e9bvdifucbfd0q1p74ju06ddmre4b7dm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.125634621812-e9bvdifucbfd0q1p74ju06ddmre4b7dm</string>
	<key>API_KEY</key>
	<string>AIzaSyAuwTqOwMj9OH03dJ3IMjC0FeNP5ajA5Z4</string>
	<key>GCM_SENDER_ID</key>
	<string>125634621812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-92580</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-92580.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125634621812:ios:9024ff95e7420210933c21</string>
</dict>
</plist>